body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #fffdfc;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  padding: 2rem;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  color: #c71585;
}

#excuse {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
  color: #444;
}
